@mixin bg($image, $param : no-repeat center center, $size : auto) {
  background: url('../img/#{$image}') $param;
  background-size: $size;
}

@mixin med($width: xl, $type: max) {
  @if map_has_key($grid-breakpoints, $width) {
    $width: map_get($grid-breakpoints, $width);

    @if $type == min {
      $width: $width;
    }

    @if $type == max {
      $width: $width - 1px;
    }

    @media screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

@mixin medH($height, $type : max) {
  @media screen and (#{$type}-height: #{$height}px) {
    @content;
  }
}

@mixin bef() {
  &::before {
    content: "";

    display: inline-block;
    @content;
  }
}

@mixin aft() {
  &::after {
    content: "";

    display: inline-block;
    @content;
  }
}

@mixin full-block() {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

@mixin fixed-block() {
  position: fixed;
  right: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

@mixin position-center() {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

@mixin hover() {
  &:hover {
    @media screen and (min-width: 1200px) {
      @content;
    }
  }
}

@mixin container {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;

  @include med(md) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@mixin btn-arrow() {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 195px;
  padding-right: 25px;
  padding-left: 25px;

  font-size: 16px;
  font-weight: 500;
  line-height: 50px;
  color: $text-brown-2;
  text-align: center;
  letter-spacing: .8px;

  border: 1px solid $border-brown-2;
  border-radius: 30px;

  @include med(md) {
    width: 100%;
    margin: 0 10px;
  }

  @include hover {
    @include aft {
      transform: translateX(5px);
    }
  }

  @include aft {
    width: 24px;
    height: 24px;
    margin-left: 15px;

    transition: transform $time;

    @include bg('svg/arrow.svg', $size: contain);
  }
}
