$white: #fff;
$black: #000;
$grey: #d3d3d3;
$grey-2: #e2e2e2;
$grey-3: #6d6d6d;
$grey-4: #ccc;
$grey-5: #dde3e3;
$grey-6: #404049;
$grey-7: #a0a0a4;
$grey-8: #b2b2b2;
$brown: #cdbf8a;
$brown-2: #b6a256;

$text-white: $white;
$text-black: $black;
$text-grey: $grey;
$text-grey-3: $grey-3;
$text-grey-7: $grey-7;
$text-grey-8: $grey-8;
$text-brown: $brown;
$text-brown-2: $brown-2;

$border-white: $white;
$border-black: $black;
$border-grey: $grey;
$border-grey-2: $grey-2;
$border-grey-3: $grey-3;
$border-grey-5: $grey-5;
$border-brown-2: $brown-2;

$background-white: $white;
$background-black: $black;
$background-grey: $grey;
$background-grey-4: $grey-4;
$background-grey-5: $grey-5;
$background-brown-2: $brown-2;
$background-grey-6: $grey-6;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
);

$header-height-xl: 135px;
$header-height-md: 116px;

$font-text: Roboto, Arial, Helvetica, sans-serif;
$baron-neue: baronneue, $font-text;
$Droid-serif: DroidSerif, $font-text;
$time: 500ms;
