$common-t-white: $text-white;
$common-t-black: $text-black;
$common-t-grey: $text-grey;

$common-b-grey: $border-grey;
$common-b-white: $border-white;

$common-bg-grey: $background_grey;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  outline: none;
}

.transition {
  * {
    transition: none !important;
  }
}

html {
  width: 100%;
  height: 100%;
  min-height: 100%;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  body {
    overflow-x: hidden;

    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 0 35px;

    font-family: $font-text;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: $common-t-black;

    @include med {
      height: auto;
      padding: $header-height-xl 0 0;
    }

    @include med(md) {
      padding: $header-height-md 0 0;
    }
  }

  .page {
    overflow-x: hidden;

    max-width: 100%;
  }

  .container {
   @include container;
  }

  img {
    display: block;

    max-width: 100%;
  }

  b,
  strong {
    font-weight: 600;
  }

  i,
  em {
    font-style: italic;
  }

  ul,
  ol {
    list-style: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  input {
    -webkit-appearance: none;

    font-family: $font-text;
    font-weight: 300;
  }

  //цвет поля при автозаполнении
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }

  input[type=search] {
    -webkit-appearance: none;

    &::-ms-clear,
    &::-ms-reveal {
      display: none;
    }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;

      width: 0;
      height: 0;
    }
  }

  button {
    cursor: pointer;
  }
}

.main {
  transition: opacity $time;

  opacity: 0;
}
