.skip-link {
  display: none;
}

.header {
  background-color: #fff;

  @include med {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    width: 100%;
    height: $header-height-xl;

    border-bottom: 1px solid $border-grey-2;
  }

  @include med(md) {
    height: $header-height-md;
  }

  &--top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 35px 0;

    @include med {
      padding: 22px 0;
    }
  }

  &--bottom {
    border-top: 1px solid $border-grey-2;
    border-bottom: 1px solid $border-grey-2;

    @include med {
      display: none;
    }

    h2 {
      display: none;
    }
  }

  &--center {
    flex-shrink: 0;
  }

  &--right {
    .block-social-media-links {
      @include med {
        display: none;
      }
    }
  }

  .region-header-left {
    @include med {
      display: none;
    }
  }

  .region-header-center {
    @include med {
      width: 90px;
      height: 90px;
    }

    @include med(md) {
      width: 72px;
      height: 72px;
    }
  }

  .region-header-right {
    display: flex;
    align-items: center;

    @include med {
      position: fixed;
      top: 0;
      left: 0;

      justify-content: center;

      width: 100%;
      height: 120px;

      background-color: $background-white;
      box-shadow: 0 0 10px 0 $grey;

      transition: transform $time;
      transform: translateY(-300px);
    }

    @include med(md) {
      height: 100px;
    }

    &.active {
      @include med {
        transform: translateY(0);
      }
    }
  }

  .block-header-contacts {
    display: flex;
    align-items: center;

    font-size: 16px;
    line-height: 22px;

    @include med {
      flex-direction: column;
      align-items: center;

      font-size: 20px;
      line-height: 32px;
    }

    @include med(md) {
      font-size: 14px;
      line-height: 20px;
    }

    &-phone {
      margin-right: 55px;

      font-weight: 500;
      letter-spacing: .8px;

      @include med {
        margin-right: 0;
        margin-bottom: 10px;
      }

      a {
        display: flex;
        align-items: center;

        transition: color $time;

        @include hover {
          color: $text-brown;
        }

        @include bef() {
          $size: 18px;

          width: $size;
          height: $size;
          margin-right: 12px;
          margin-bottom: 4px;

          @include bg('svg/temporary/phone.png', $size: contain);

          @include med {
            width: 15px;
            height: 15px;
            margin-right: 6px;
            margin-bottom: 0;
          }
        }
      }
    }

    &-email {
      letter-spacing: .2px;

      @include med {
        margin-bottom: 10px;
      }

      a {
        transition: color $time;

        @include hover {
          color: $text-brown;
        }
      }
    }
  }

  .block-search {
    position: relative;

    margin: 0 10px;

    @include med {
      width: 100%;
      margin-right: 15px;
      margin-left: 60px;
    }

    @include med(md) {
      margin-left: 50px;
    }
  }

  .form-wrapper {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;

    @include bef {
      position: absolute;
      top: 0;
      right: 5px;

      width: 17px;
      height: 100%;

      pointer-events: none;

      @include bg('/svg/search.svg', $size: content);
    }

    .form-submit {
      width: 42px;
      height: 100%;

      font-size: 0;

      background-color: transparent;
      border: none;

      cursor: pointer;
      user-select: none;
    }
  }

  .visually-hidden {
    font-size: 0;
    line-height: 0;
  }

  .form-item {
    display: flex;
  }

  .form-search {
    width: 192px;
    height: 40px;
    padding-right: 25px;
    padding-left: 45px;

    font-size: 16px;

    border: 1px solid $border-grey;
    border-radius: 30px;

    @include med {
      width: 100%;
      height: 40px;
    }
  }

  .mobile-menu {
    position: fixed;
    top: $header-height-xl;
    left: 0;
    z-index: 1;

    width: 100%;
    height: calc(100vh - #{$header-height-xl});

    background-color: $background-white;

    transition: transform $time;
    transform: translateX(-100vw);

    @include med(md) {
      top: $header-height-md;

      height: calc(100vh - #{$header-height-md});
    }

    @include med(xl, min) {
      display: none;
    }

    .container {
      height: 100%;
    }

    .region-mobile-menu {
      display: flex;
      flex-direction: column;

      height: 100%;

      @include med {
        overflow-y: auto;
      }

      .menu {
        padding-top: 15px;

        &-item {
          font-size: 22px;
          line-height: 62px;
          color: $text-grey-3;

          @include med(md) {
            font-size: 18px;
            line-height: 50px;
          }

          &:last-child {
            margin-bottom: 30px;
          }

          a {
            display: block;

            border-bottom: 1px solid $border-grey-2;

            &.is-active {
              font-weight: 500;
            }
          }
        }
      }
    }

    .block-menu {
      flex: 1 0 auto;
    }

    &.active {
      transform: translateX(0);
    }
  }
}

.menu--main {
  @include med {
    display: none;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 16px 0;

    &__item {
      font-size: 16px;
      line-height: 24px;
      color: $text-grey-3;

      a {
        display: inline-block;

        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;

        transition: border-bottom-color $time;

        @include hover {
          border-bottom-color: $border-grey-3;
        }

        &.is-active {
          border-bottom-color: $border-grey-3;
        }
      }
    }
  }
}

.social-media-links--platforms {
  display: flex;
  align-items: center;

  @include med {
    justify-content: center;

    margin-bottom: 40px;
  }

  @include med(md) {
    margin-bottom: 20px;
  }

  a {
    display: flex;

    margin-left: 28px;

    transition: opacity $time;

    @include med {
      margin-right: 5px;
      margin-left: 5px;
      padding: 5px 10px;
    }

    @include hover {
      opacity: .5;
    }
  }

  .fa {
    display: inline-block;

    width: 18px;
    height: 18px;

    @include med {
      width: 26px;
      height: 26px;
    }

    @include med(md) {
      width: 18px;
      height: 18px;
    }
  }

  .fa-facebook {
    @include bg('svg/temporary/facebook.svg', $size: contain);
  }

  .fa-twitter {
    @include bg('svg/temporary/twitter.svg', $size: contain);
  }
}

.menu-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 32px;
  height: 22px;
  margin: 0 10px;

  @include med(md) {
    width: 22px;
    height: 14px;
  }

  @include med(xl, min) {
    display: none;
  }

  @include aft {
    width: 100%;
    height: 2px;

    background-color: $background_grey-4;

    transition: transform $time/3;
  }

  @include bef {
    width: 100%;
    height: 2px;

    background-color: $background_grey-4;

    transition: transform $time/3;
  }

  .icon {
    display: block;

    width: 100%;
    height: 2px;

    background-color: $background_grey-4;

    transition: transform $time;
  }

  &.active {
    @include aft {
      transform: translate3d(0, -10px, 0) rotate(-45deg);

      @include med(md) {
        transform: translate3d(0, -6px, 0) rotate(-45deg);
      }
    }

    @include bef {
      transform: translate3d(0, 10px, 0) rotate(45deg);

      @include med(md) {
        transform: translate3d(0, 6px, 0) rotate(45deg);
      }
    }

    .icon {
      opacity: 0;
    }

    &.-search {
      position: fixed;
      top: 50px;
      left: 5px;
      z-index: 1;

      opacity: 0;

      @include med(md) {
        top: 44px;
        left: 0;
      }

      &.-visible {
        transition: opacity $time * 2;

        opacity: 1;
      }
    }
  }
}

.search-button {
  $size-md: 30px;
  $size: 40px;

  width: $size;
  height: $size;
  margin: 0 10px;

  @include bg('/svg/search.svg', $size: contain);

  @include med(md) {
    width: $size-md;
    height: $size-md;
  }

  @include med(xl, min) {
    display: none;
  }
}

.paragraph--slider-image {
  min-height: 580px;

  @include bg('images/temporary/grid.jpg', #dde3e3 bottom right no-repeat, $size: auto);

  @include med {
    min-height: 400px;

    background-size: cover;
  }

  @include med(md) {
    min-height: auto;
    padding-bottom: 72vw;

    @include bg('images/temporary/grid-mob.png', #dde3e3 bottom center no-repeat, $size: contain);
  }

  &--background {
    display: none;
  }

  &--content {
    padding: 104px 0;

    @include med {
      padding: 42px 0;
    }
  }

  &--title {
    margin-bottom: 24px;

    font-family: $baron-neue;
    font-size: 58px;
    line-height: 62px;
    color: $text-white;
    text-transform: uppercase;
    letter-spacing: 2px;

    @include med {
      margin-bottom: 20px;

      font-size: 34px;
      line-height: 36px;
      letter-spacing: 2.4px;
    }
  }

  &--text {
    margin-bottom: 35px;

    font-family: $Droid-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 32px;
    color: $text-brown-2;
    letter-spacing: 1.5px;

    @include med {
      margin-bottom: 28px;
    }

    @include med(md) {
      margin-bottom: 16px;

      letter-spacing: 1px;
    }
  }

  &--link {
    display: flex;

    padding-top: 30px;

    @include med {
      padding-top: 28px;
    }

    @include med(md) {
      padding-top: 16px;
    }

    a {
      @include btn-arrow();
    }
  }

  .container--small {
    width: 45%;

    @include med {
      width: 70%;
    }

    @include med(md) {
      width: 100%;
    }
  }
}

.field__item {
  .viewsreference--view-title {
    display: none;
  }
}

.view-id-projects_categories.view-display-id-projects_categories,
.container-type--awards {
  $width-btn: 40px;

  .view-header {
    padding-top: 34px;
    padding-bottom: 34px;

    @include container;

    @include med(md) {
      padding-top: 22px;
      padding-bottom: 22px;
    }
  }

  .slick-list {
    flex-grow: 1;
  }

  .slick-arrow {
    flex-shrink: 0;
    width: $width-btn;
    height: $width-btn;

    font-size: 0;

    background-color: transparent;
    border: 1px solid $border-brown-2;
    border-radius: 50%;

    transition: transform $time;

    @include hover {
      transform: scale(1.05);
    }

    @include bef {
      width: 12px;
      height: 12px;

      border-bottom: 2px solid $border-brown-2;
      border-left: 2px solid $border-brown-2;
    }

    &.slick-prev {
      @include bef {
        margin-left: 5px;

        transform: rotate(45deg);
      }
    }

    &.slick-next {
      @include bef {
        margin-right: 5px;

        transform: rotate(-135deg);
      }
    }
  }

  .slick-track {
    display: flex;
    justify-content: space-between;

    flex-grow: 1;

    .slick-slide {
      display: flex;
      justify-content: center;
    }
  }

  .slick-slider {
    display: flex;
    align-items: center;

    width: 100%;
  }

  .slick__slide {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 92px;

    font-size: 15px;
    font-weight: 500;
    line-height: 24px;

    .image-style-project-type-image {
      margin: auto;
    }
  }

  .layout {
    display: flex;
    flex-wrap: wrap;

    &__region {
      width: 50%;

      background-color: $background-grey-5;

      @include med {
        width: 100%;
      }

      img {
        width: 100%;
        height: auto;
      }

      &--first {
        padding: 105px 100px;

        @include med {
          padding: 60px;
        }

        @include med(md) {
          padding: 38px 32px 54px;
        }
      }
    }
  }

  .field--name-node-title {
    margin-bottom: 24px;

    font-family: $baron-neue;
    font-size: 28px;
    line-height: 50px;
    letter-spacing: 1px;

    @include med(md) {
      margin-bottom: 16px;

      font-size: 15px;
      line-height: 28px;
    }

    a {
      transition: color $time;

      @include hover {
        color: $text-brown-2;
      }
    }
  }

  .field--name-field-text {
    max-width: 592px;
    padding-bottom: 30px;

    font-size: 16px;
    line-height: 30px;
    letter-spacing: .8px;

    @include med(md) {
      max-width: 100%;
      padding-bottom: 5px;

      font-size: 14px;
      line-height: 22px;
    }

    p {
      margin-bottom: 10px;
    }
  }

  .field--name-field-footnote {
    display: flex;
    flex-direction: column;

    font-family: $Droid-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    line-height: 32px;
    color: $text-brown-2;
    letter-spacing: 1.2px;

    @include med(md) {
      font-size: 10px;
      line-height: 18px;
      letter-spacing: .3px;
    }

    @include bef {
      width: 80px;
      height: 5px;
      margin-top: 5px;
      margin-bottom: 20px;

      background-color: $background-brown-2;

      @include med(md) {
        width: 46px;
        height: 3px;
        margin-bottom: 12px;
      }
    }
  }

  .visually-hidden {
    display: none;
  }

  .views-row {
    &:nth-child(odd) {
      .layout {
        &__region:first-child {
          order: 1;
        }
      }
    }

    .layout {
      &__region:first-child {
        @include med {
          order: 1;
        }
      }
    }
  }
}

.container-type--four_column.paragraph--container {
  position: relative;

  padding-top: 118px;
  padding-bottom: 140px;

  background-color: $background-grey-6;

  @include med {
    padding-top: 50px;
    padding-bottom: 40px;
  }

  @include med(md) {
    padding-top: 35px;
    padding-right: 10px;
    padding-bottom: 125px;
    padding-left: 10px;
  }

  .container {
    max-width: 1250px;
  }

  .paragraph--container--header {
    color: $text-white;
  }
}

.paragraph {
  &--text-element {
    width: 25%;

    @include med {
      width: 50%;
      margin-bottom: 40px;
      padding-right: 40px;
    }

    @include med(md) {
      width: 100%;
      margin-bottom: 50px;
      padding-right: 0;
    }

    &--title {
      margin-bottom: 20px;

      font-size: 20px;
      line-height: 28px;
      color: $text-white;
      letter-spacing: 1px;

      @include med {
        margin-bottom: 10px;
      }
    }

    &--content {
      font-size: 16px;
      line-height: 29px;
      color: $text-grey-7;
      letter-spacing: .8px;

      @include med(md) {
        font-size: 19px;
        line-height: 29px;
        letter-spacing: .4px;
      }
    }
  }

  &--container {
    &--header {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: space-between;

      margin-bottom: 50px;

      @include med {
        margin-bottom: 20px;
      }
    }

    &--title {
      display: flex;
      flex-direction: column;

      font-family: $baron-neue;
      font-size: 40px;
      line-height: 56px;
      letter-spacing: 2px;

      @include med {
        width: 100%;
        margin-bottom: 50px;
      }

      @include med(md) {
        margin-bottom: 10px;

        font-size: 21px;
        line-height: 30px;
      }

      @include aft {
        width: 80px;
        height: 5px;
        margin-top: 15px;

        background-color: $brown-2;

        @include med(md) {
          width: 45px;
          height: 3px;
          margin-top: 25px;
        }
      }
    }

    &--link {
      flex-shrink: 0;
      margin-left: 30px;

      @include med {
        margin-left: 0;
      }

      @include med(md) {
        position: absolute;
        bottom: 70px;
        left: 0;

        width: 100%;
        padding: 0 20px;
      }

      a {
        @include btn-arrow();

        @include med(md) {
          margin: 0;
        }
      }
    }

    &--content {
      display: flex;
      flex-wrap: wrap;

      margin: 0 -15px;
      padding-top: 30px;

      @include med(md) {
        padding-top: 15px;
      }
    }
  }
}

.container-type--latest_news.paragraph--container {
  position: relative;

  padding-top: 110px;
  padding-bottom: 160px;

  @include med {
    padding-top: 50px;
    padding-bottom: 60px;
  }

  @include med(md) {
    padding-top: 60px;
    padding-bottom: 0;
  }

  .container {
    max-width: 1250px;
  }

  .paragraph--container--link {
    @include med(md) {
      display: none;
    }
  }

  .layout--onecol {
    position: relative;
  }

  .view-content {
    display: flex;
    flex-wrap: wrap;

    @include med(md) {
      margin-bottom: 5px;
    }
  }

  .views-row {
    width: 33.33%;
    padding-right: 20px;
    padding-left: 20px;

    @include med {
      padding-right: 8px;
      padding-left: 8px;
    }

    @include med(md) {
      width: 100vw;
      margin-bottom: 30px;
      padding-right: 0;
      padding-left: 0;
    }
  }

  .visually-hidden {
    display: none;
  }

  .field--name-field-teaser-image {
    position: relative;

    overflow: hidden;

    width: 100%;
    height: 235px;
    margin-bottom: 15px;

    @include med {
      height: 20vw;
    }

    @include med(md) {
      height: auto;
      margin-bottom: 24px;
    }

    .field__item {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;

      width: auto;
      min-width: 100%;
      height: auto;
      min-height: 100%;

      transition: transform $time;
      transform: translate(-50%, -50%);

      @include med(md) {
        position: static;

        width: 100%;
        min-width: auto;
        min-height: auto;

        transform: translate(0);
      }
    }
  }

  .field--name-node-link {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    @include hover() {
      & + .field--name-field-teaser-image {
        img {
          transform: scale(1.05) translate(-50%, -50%);
        }
      }
    }

    a {
      display: block;

      height: 100%;
    }
  }

  .field--name-node-title {
    margin-bottom: 5px;

    font-size: 18px;
    line-height: 36px;
    color: $text-grey-8;
    letter-spacing: 1px;

    @include med {
      font-size: 14px;
      line-height: 22px;
    }

    @include med(md) {
      padding: 0 22px;

      font-size: 18px;
      line-height: 24px;
    }
  }

  .field--name-field-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 1.5px;

    @include med(md) {
      padding: 0 22px;

      font-size: 18px;
      line-height: 30px;
      letter-spacing: 1.2px;
    }
  }

  .paragraph--container--content {
    margin-right: -20px;
    margin-left: -20px;
    padding-top: 25px;

    @include med {
      margin-right: -8px;
      margin-left: -8px;
    }

    @include med(md) {
      margin-right: -20px;
      margin-left: -20px;
      padding-top: 15px;
    }
  }

  .paragraph--container--header {
    margin-bottom: 30px;

    @include med(md) {
      margin-bottom: 20px;
    }
  }
}

.container-type--awards.paragraph--container {
  padding: 90px 0;

  background-color: $background-grey-5;

  @include med {
    padding: 60px 0;
  }

  @include med(md) {
    padding: 90px 0;
  }

  .container {
    max-width: 1450px;
  }

  .paragraph--container--content {
    width: 100%;
    margin: 0;
    padding-top: 0;
  }

  .paragraph--type--view-reference {
    width: 100%;
  }

  .slick__slide {
    height: auto;
  }

  .slick-arrow {
    @include med(md) {
      width: 25px;
      height: 25px;
    }

    @include bef {
      width: 7px;
      height: 7px;

      border-bottom: 1px solid #b6a256;
      border-left: 1px solid #b6a256;
    }

    &.slick-prev {
      @include bef {
        margin-left: 3px;
      }
    }

    &.slick-next {
      @include bef {
        margin-right: 3px;
      }
    }
  }
}

.page__bottom {
  .block-menu {
    padding: 26px 0;

    @include med {
      padding: 15px 0;
    }
  }

  .visually-hidden {
    display: none;
  }
}

.footer {
  padding-top: 30px;
  padding-bottom: 50px;

  border-top: 1px solid $border-grey-2;

  @include med {
    padding-bottom: 30px;
  }

  @include med(md) {
    padding-bottom: 48px;
  }
}

.copyright {
  font-size: 15px;
  line-height: 24px;
  color: $text-grey-8;
  text-align: center;
  letter-spacing: .3px;

  @include med(md) {
    font-size: 12px;
  }
}
