@font-face {
  font-family: Roboto;
  font-weight: normal;
  font-style: normal;
  src: local("embedded-opentype"),
  url("../fonts/Roboto-Regular/Roboto-Regular.woff2") format("woff2"),
  url("../fonts/Roboto-Regular/Roboto-Regular.woff") format("woff"),
  url("../fonts/Roboto-Regular/Roboto-Regular.ttf") format("truetype"),
  url("../fonts/Roboto-Regular/Roboto-Regular.eot") format("eot");
}

@font-face {
  font-family: Roboto;
  font-weight: 300;
  font-style: normal;
  src: local("embedded-opentype"),
  url("../fonts/Roboto-Light/Roboto-Light.woff2") format("woff2"),
  url("../fonts/Roboto-Light/Roboto-Light.woff") format("woff"),
  url("../fonts/Roboto-Light/Roboto-Light.ttf") format("truetype"),
  url("../fonts/Roboto-Light/Roboto-Light.eot") format("eot");
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  src: local("embedded-opentype"),
  url("../fonts/Roboto-Medium/Roboto-Medium.woff2") format("woff2"),
  url("../fonts/Roboto-Medium/Roboto-Medium.woff") format("woff"),
  url("../fonts/Roboto-Medium/Roboto-Medium.ttf") format("truetype"),
  url("../fonts/Roboto-Medium/Roboto-Medium.eot") format("eot");
}

@font-face {
  font-family: baronneue;
  font-weight: 400;
  font-style: normal;
  src: local("baronneue-regular"),
  url("../fonts/baronneue-regular/baronneue.woff2") format("woff2"),
  url("../fonts/baronneue-regular/baronneue.woff") format("woff"),
  url("../fonts/baronneue-regular/baronneue.ttf") format("truetype"),
  url("../fonts/baronneue-regular/baronneue.eot") format("eot");
}

@font-face {
  font-family: baronneue;
  font-weight: 700;
  font-style: normal;
  src: local("baronneue-bold"),
  url("../fonts/baronneue-bold/baronneuebold.woff2") format("woff2"),
  url("../fonts/baronneue-bold/baronneuebold.woff") format("woff"),
  url("../fonts/baronneue-bold/baronneuebold.ttf") format("truetype"),
  url("../fonts/baronneue-bold/baronneuebold.eot") format("eot");
}

@font-face {
  font-family: DroidSerif;
  font-weight: 400;
  font-style: italic;
  src: local("Droid Serif"),
  url("../fonts/droidserifitalic/droidserifitalic.woff2") format("woff2"),
  url("../fonts/droidserifitalic/droidserifitalic.woff") format("woff"),
  url("../fonts/droidserifitalic/droidserifitalic.ttf") format("truetype"),
  url("../fonts/droidserifitalic/droidserifitalic.eot") format("eot");
}